extends layout

block links
  link(rel="stylesheet" href='/css/index.css')

block content
  h1= title
  p Welcome to #{title}  
  p#description This site is used to add pokémon to a team & pick their moves
  
block post-container
  img(src="/images/pokepaper.png")#pokepaper
  
block scripts
  script(src="/js/index.js")
