doctype html
html
  head
    title Pokemon Team Customizer
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet" href="/lib/sweetalert/dist/sweetalert.css")
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", type="image/x-icon", href="images/favicon.png")
    block links
  body
    nav.navbar.navbar-default.navbar-static-top
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Pokemon Team Customizer
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/team') Team
            li
              a(href='/pokemon') Pokémon
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/register')#register Register
            li
              a(href='/login')#login Login
            li
              a(href='/users/logout')#logout Logout
    .container#mainContainer
      block content
  
    block post-container
    
    #footer
      p Need your password changed or reset? E-mail foobar@pokesite.example
 
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
    script(src="/lib/sweetalert/dist/sweetalert.min.js")
    script(src='/lib/firebase/firebase.js')
    block scripts
