extends layout

block links
  link(rel="stylesheet" href='/css/pokemon.css')

block content
  #loading
    img(src="images/loading.gif")
    h2 Loading...
  
block scripts
  script(src="/js/pokemon.js")
