extends layout

block links
  link(rel="stylesheet" href='/css/team.css')

block content
  h1= title
  div#teamContainer
    div#team
      div#pokemon1.pokemon.col-xs-2
        img
        p.pokemon-name No Pokémon 
        p.pokemon-type No Pokémon
        button.btn.btn-default Release Pokémon
      div#pokemon2.pokemon.col-xs-2
        img
        p.pokemon-name No Pokémon 
        p.pokemon-type No Pokémon
        button.btn.btn-default Release Pokémon
      div#pokemon3.pokemon.col-xs-2
        img
        p.pokemon-name No Pokémon 
        p.pokemon-type No Pokémon
        button.btn.btn-default Release Pokémon
      div#pokemon4.pokemon.col-xs-2
        img
        p.pokemon-name No Pokémon 
        p.pokemon-type No Pokémon
        button.btn.btn-default Release Pokémon
      div#pokemon5.pokemon.col-xs-2
        img
        p.pokemon-name No Pokémon 
        p.pokemon-type No Pokémon
        button.btn.btn-default Release Pokémon
      div#pokemon6.pokemon.col-xs-2
        img
        p.pokemon-name No Pokémon 
        p.pokemon-type No Pokémon
        button.btn.btn-default Release Pokémon
  #loading
    img(src="images/loading.gif")
    h2 Loading...
  
block scripts
  script(src="/js/team.js")
