extends layout

block links
  link(rel="stylesheet" href='/css/team.css')

block content
  h1= title
  div#teamContainer
    div#team
  #loading
    img(src="images/loading.gif")
    h2 Loading...
  
block scripts
  script(src="/js/team.js")
